@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
.head-icon{
    padding: 10px;
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid white;
    height: 70px;
}

.container{
    display: flex;

}
.sidebar{
    font-size: 17px;
    width: 270px;
    background-color: #297F87;
    max-height: 100vh;
    overflow: hidden;
    color: black;
    /* border-right:1px solid black ; */
}

.sidebar.active {
    display: block;
}
.sidebar a{
    color: #ffffff;
}
.content{
    margin: 20px 10px;
}
button{
    padding: 10px;
    width: 100%;
    margin:30px 0;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #F5EFE6;
    overflow: scroll;
}
a.list-item{
    display: block;
    margin:13px 0;
    padding: 8px 16px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
a.list-item:hover{
    border: 1px solid #fff;
}
.list-item p{
    display: inline;
}
a.list-item.active {
    background-color: #6fbec7;
}
.main-header{
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: black;
    background-color: #fff;
    /* border-bottom: 0.5px solid black; */
    height: 70px;
    box-shadow: 0 5px 5px 0 rgb(202, 202, 202);
}

.logo{
    margin: 5px;
    display: flex;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.logo a{
    font-weight: 500;
    color: black;
}
.hams{
    width: 5%;
    /* position: relative; */
    cursor: pointer;
    /* background-color: #F14A16; */
    z-index: 99;
    /* width: 40px; */
    float: left;
    margin:10px;
    display: none;
}
.hams i{
    z-index: 999;
    cursor: pointer;
    font-size: 30px;
}
.account{
    /* background-color: red; */
    width: 300px;
    margin:0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    /* background-color: blue; */
}
.acc-img img{
    width: 50px;
    border-radius:100% ;
}
.acc-info{
    font-size: 15px;
    font-weight: 500;
    /* background-color: red; */
    margin:0 5px;
    padding: 12px;
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.acc-role{
    color: #297F87;
}
.main--home{
    width: 100%;
    min-height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 860px) {
    .sidebar{
        display: none;
    }
    .hams{
        display: block;
    }
    .logo{
        width: 85%;
    }
    .acc-info{
        display: none;
    }
    .account{
        width: 70px;
    }
}