@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=IBM+Plex+Mono&family=Montserrat&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #297F87;
}
/*Navigasi*/
/*Navigasi*/
nav {
	min-height: 56px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* border-bottom: 1px solid black; */
	position: fixed;
	background-color: #297F87;
	align-items: center;
	z-index: 1;
}

/* nav .navsub {
	padding: 14px;
} */

nav .navsub ul li a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 10px;
	margin: 0 2px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
}

nav .navsub ul li a:hover {
	border: 1px solid white;
	border-radius: 5px;

}
.subright {
	transition: all 0.3s ease;
}
nav .subright ul {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-right: 73px;
}

nav .subright ul li {
	list-style-type: none;
	text-align: center;
}

.logo-center {
	font-size: 20px;
	font-weight: 900;
	margin-left: 100px;
}

.logo-center a {
	display: block;
	font-family: Comfortaa, sans-serif;
	font-size: 24px;
	font-weight: 900;
	text-decoration: none;
	color: white;
	text-align: center;
}
.fav {
	width: 150px;
	overflow: hidden;
}
.searchBar input {
	padding: 10px;
	border: none;
	background-color: transparent;
	outline: none;
	width: 210px;
	background-color: #EDEDED;
	border-radius: 50px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	font-family: Comfortaa, sans-serif;
	color: #000000;
}

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;

}

#search:focus {
	background-color: #FEDB39;
}

.searchBar button {
	background-color: transparent;
	border: none;
	margin-left: -40px;
	padding: 0;
}

.searchBar i {
	color: #2C3333;
	font-size: 20px;
	transition: all 0.3s ease;
}

.searchBar i:hover {
	cursor: pointer;
}

span {
	color: red;
}

.spacer {
	width: 100%;
	padding: 37px 0;
}

/* navigasi */
/* navigasi */
/* navigasi */
.main-logo h1{
	font-size: 2em;
	font-weight: 300;
}

.main-logo h3{
	margin: 5px 0;
	font-size: 2em;
	font-weight: 550;
	text-align: center;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper-login{
	margin: 5px;
	display:flex;
	justify-content: center;
	border: 1px solid black;
	flex-wrap: wrap;
	border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}
.sideImage{
	width: 530px;
}
.sideImage img{
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius:10px ;
	opacity: 0.9;
}
.login-page{
	width: 530px;
	padding: 12px;
}

.main-logo{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.main-logo img{
	position: relative;
	bottom: 18px;
	width: 130px;
	
}
form{
	margin-top: 20px;
	font-family: Comfortaa, sans-serif;
}
input[type=username], input[type=password]{
	width: 100%;
	border:1px solid white;
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
	height: 40px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 15px;
	color: #fff;
	background: rgba(255, 255, 255, 0.001);
}
::placeholder {
	color: white;
	opacity: 0.6;
}

input[type=username]:focus, input[type=password]:focus{
	outline: none;
}

span{
	color: red;
}
label{
	display: block;
	margin-top: 10px;
}
.button-daftar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
	align-items: center;
}

.button-daftar a{
	text-decoration: none;
	color: white;
}
.button-daftar a:hover {
	color: yellow;
}

input[type=submit]{
	padding: 12px 45px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #000000 ;
	background-color: #EEEEEE;
	box-shadow: 4px 4px 0px 0px #000000;
	transition: all 0.3s ease;
	font-family: Comfortaa, sans-serif;
}
input[type=submit]:hover{
	box-shadow:none;
	cursor: pointer;
}
footer {
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	background-color: #297F87;
	font-size: 14px;
	color: #fff;
}
footer a{
	text-decoration: none;
	color: #fff;
}
.footer-botom {
	font-size: 14px;
	min-height: 50px;
	font-weight: 500;
	border-top: 1px solid white;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	grid-template-areas:
		'kiri tengah kanan';
}

.foot-left {
	margin: 0 5px;
	grid-area: kiri;
}

.foot-center {
	grid-area: tengah;
	text-align: center;
}

.foot-center a {
	margin: 0 5px;
}

.foot-right {
	grid-area: kanan;
	margin: 0 5px;
	justify-self: end;
}
.subright.actives {
	display: block;
}
.ham {
	float: right;
	position: relative;
	bottom: 30px;
	display: none;
}

.ham i {
	font-size: 30px;
	cursor: pointer;
}
@media (max-width: 720px) {
	.logo-center {
		padding: 25px;
		margin: 0;
	}
	nav {
		display: block;
	}

	.ham {
		display: block;
	}

	.subright {
		display: none;
	}

	nav .subright ul {
		margin-right: 0;
		flex-direction: column;

	}

	.subright ul li {
		margin: 5px 0;
	}

	.searchBar input {
		width: 300px;
	}
}
@media (max-width: 1070px) {
	.sideImage{
		display: none;
	}
}
@media (max-width: 680px) {
	nav {
		justify-content: center;
	}
	.logo-center {
		margin: 0;
	}
	nav .subright{
		display: none;
	}
	.wrapper-login{
		width: 100%;
	}
	.login-page{
		width: 100%;
	}
	.main-logo img {
		width: 100px;
	}
	input[type=submit] {
		font-size: 13px;
		padding: 6px 23px;
		width: 30%;
	}
	.footer-botom {
		grid-template-columns: 100%;
		grid-template-areas:
			'kiri'
			'tengah'
			'kanan';
		justify-items: center;
		}
		.foot {
			margin: 10px;
		}
	
		.foot-right {
			justify-self: center;
		}
		.spacer{
			padding: 50px 0;
		}
}
