@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=IBM+Plex+Mono&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFF8E5;
}

body {
    padding: 0;
    margin: 0;
    font-family: Comfortaa, sans-serif;
    background-color: #297F87;
}

/*Navigasi*/
/*Navigasi*/
nav {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
    position: fixed;
    background-color: #297F87;
    align-items: center;
    z-index: 99;
}

h1,
h2,
h3,
h4 {
    font-family: Comfortaa, sans-serif;
}

nav .navsub {
    padding: 14px;
}

nav .navsub img {
    width: 40px;
}

nav .navsub ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

nav .navsub ul li a:hover {
    border: 1px solid white;
    border-radius: 5px;

}

nav .subright ul {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 73px;
}

nav .subright ul li {
    list-style-type: none;
}

.logo-center {
    margin-left: 100px;
    font-size: 20px;
    font-weight: 900;
}

.logo-center a {
    display: block;
    font-family: Comfortaa, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    text-align: center;
}

.fav {
    width: 150px;
    overflow: hidden;
}

.ham {
    float: right;
    position: relative;
    bottom: 30px;
    display: none;
}

.ham i {
    font-size: 30px;
    cursor: pointer;
}

/* Search Bar */
.searchBar input {
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 210px;
    background-color: #EDEDED;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    font-family: Comfortaa, sans-serif;
    color: #000000;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

}

#search:focus {
    background-color: #FEDB39;
}

.searchBar button {
    background-color: transparent;
    border: none;
    margin-left: -40px;
    padding: 0;
}

.searchBar i {
    color: #2C3333;
    font-size: 20px;
    transition: all 0.3s ease;
}

.searchBar i:hover {
    cursor: pointer;
}

/* akhir search bar */

span {
    color: red;
}

/* navigasi */
.spacer {
    padding: 40px 0;
}

main {
    width: 100%;
    /* align-items: start; */
    min-height: 510px;
}

.pesanan-detail {
    width: 95%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 5px;
    min-height: 150px;
    margin: 10px auto;
}
.detail-img img{
    width: 200px;
}
.detail-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesanan-aksi a{
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2B3A55;
    /* color: #000000; */

}
.pesanan-aksi a:hover{
    border: 1px solid white;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 100px;
}
footer {
    margin-top: 20px;
    background-color: #297F87;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer-botom {
    font-size: 14px;
    min-height: 50px;
    font-weight: 500;
    border-top: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    grid-template-areas:
        'kiri tengah kanan';
}

.foot-left {
    margin: 0 5px;
    grid-area: kiri;
}

.foot-center {
    grid-area: tengah;
    text-align: center;
}

.foot-center a {
    margin: 0 5px;
}

.foot-right {
    grid-area: kanan;
    margin: 0 5px;
    justify-self: end;
}

.subright.actives {
    display: block;
}



@media (max-width: 720px) {
    .logo-center {
        padding: 25px;
        margin: 0;
    }

    nav {
        display: block;
    }

    .ham {
        display: block;
    }

    .subright {
        display: none;
    }

    nav .subright ul {
        margin-right: 0;
        flex-direction: column;
    }

    .subright ul li {
        margin: 5px 0;
    }

    .searchBar input {
        width: 300px;
    }
        
}
@media (max-width: 900px){
    .pesanan-detail {
            flex-wrap: wrap;
        }
    
        .row {
            width: 1000px;
            height: 50px;
            display: flex;
            flex-direction: row;
        }
    
        .detail-img {
            flex-direction: column;
        }
}

@media (max-width: 720px) {
    nav .subright {
        display: none;
    }

    nav {
        justify-content: center;
    }

    .logo-center {
        margin: 0;
    }

    .footer-botom {
        grid-template-columns: 100%;
        grid-template-areas:
            'kiri'
            'tengah'
            'kanan';
        justify-items: center;
    }

    .foot {
        margin: 10px;
    }

    .foot-right {
        justify-self: center;
    }
        .spacer {
            padding: 50px;
        }
}

