@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=IBM+Plex+Mono&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: Comfortaa, sans-serif;
	box-sizing: border-box;
	color: #fff;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #297F87;
}
/*Navigasi*/
/*Navigasi*/
nav {
	width: 100%;
	min-height: 56px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #297F87;
	align-items: center;
	z-index: 1;
	transition: all 0.3s ease;
}

nav .navsub {
	/* padding: 14px; */
}

nav .navsub img {
	width: 40px;
}

nav .navsub ul li a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 12px;
	font-weight: 800;
	padding: 5px 10px;
	margin: 0 2px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
}

nav .navsub ul li a:hover {
	border: 1px solid white;
	border-radius: 5px;

}
.subright {
	transition: all 0.3s ease;
}

nav .subright ul {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-right: 73px;
}

nav .subright ul li {
	list-style-type: none;
	text-align: center;
}

.logo-center {
	margin-left: 100px;
	font-size: 20px;
	font-weight: 900;
}

.logo-center a {
	display: block;
	font-family: Comfortaa, sans-serif;
	font-size: 24px;
	font-weight: 900;
	text-decoration: none;
	color: white;
	text-align: center;
}
.fav {
	width: 150px;
	overflow: hidden;
}
.ham {
	float: right;
	position: relative;
	bottom: 30px;
	display: none;
}

.ham i {
	font-size: 30px;
	cursor: pointer;
}
span {
	color: red;
}
/* Search Bar */
nav .searchBar input {
	padding: 10px;
	border: none;
	background-color: transparent;
	outline: none;
	width: 210px;
	background-color: #EDEDED;
	border-radius: 50px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	font-family: Comfortaa, sans-serif;
	color: #000000;
}

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;

}

#search:focus {
	background-color: #FEDB39;
}

.searchBar button {
	background-color: transparent;
	border: none;
	margin-left: -40px;
	padding: 0;
}

.searchBar i {
	color: #2C3333;
	font-size: 20px;
	transition: all 0.3s ease;
}

.searchBar i:hover {
	cursor: pointer;
}

/* akhir search bar */
.spacer {
	width: 100%;
	padding: 40px 0;
}
/* navigasi */
/* navigasi */
/* navigasi */

.main-logo h1, .main-logo span{
	font-family:  Comfortaa, sans-serif;
	font-size: 48px;
	font-weight: 300;
}

main{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper-signup {
	margin: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 5px;
	border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}

.sideImage {
	width: 530px;
}

.sideImage img {
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 10px;
	border-bottom-right-radius:10px ;
	opacity: 0.9;
}

.signup-page{
	width: 530px;
	padding: 12px;
}

.main-logo{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
}
.signup-page h3 {
	text-align: center;
	font-size: 30px;
	font-weight: 590;
}
form{
	width: 100%;
	margin: 20px 0;
}

form h3{
	margin-bottom: 30px;
}

input[type="text"], input[type="password"], input[type="email"]{
	width: 100%;
	border-bottom:1px solid #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 40px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 15px;
	background: rgba(255, 255, 255, 0.001);
}
::placeholder {
	color: white;
	opacity: 0.6;
}
input[type="text"], input[type="password"], input[type="email"]:focus{
	outline: none;
}

.info p{
	line-height: 25px;
}

span{
	color: red;
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="submit"]{
	padding: 10px;
	width: 130px;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	color: black;
	box-shadow:3px 3px 0px 0px #000000;
	text-align: center;
	margin-top: 20px;
	transition: all 0.3s ease;
}
input[type="submit"]:hover {
	cursor: pointer;
	box-shadow: none;
}
input[type="submit"]:focus{
	background-color: #FAAE2B;
	box-shadow: none;
}
label{
	display: inline-block;
	margin-top: 5px;
}
footer {
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	font-family: Comfortaa, sans-serif;
	background-color: #297F87;
	font-size: 14px;
}
footer a {
	text-decoration: none;
	color: #fff;
}
.footer-botom {
	font-size: 14px;
	font-weight: 500;
	min-height: 50px;
	border-top: 1px solid white;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	grid-template-areas:
		'kiri tengah kanan';
}

.foot-left {
	margin: 0 5px;
	grid-area: kiri;
}

.foot-center {
	grid-area: tengah;
	text-align: center;
}

.foot-center a {
	margin: 0 5px;
}

.foot-right {
	grid-area: kanan;
	margin: 0 5px;
	justify-self: end;
}
.subright.actives {
	display: block;
}

@media (max-width: 720px) {
	.logo-center {
		padding: 25px;
		margin: 0;
	}

	nav {
		display: block;
	}

	.ham {
		display: block;
	}

	.subright {
		display: none;
	}

	nav .subright ul {
		margin-right: 0;
		flex-direction: column;

	}

	.subright ul li {
		margin: 5px 0;
	}

	nav .searchBar input {
		width: 300px;
	}
}
@media (max-width: 1070px) {
	.sideImage {
		display: none;
	}
}

@media (max-width: 680px) {
	.main-logo h1, .main-logo span{
		font-size: 32px;
	}
	nav{
		justify-content: center;
	}
	.logo-center{
		margin: 0;
	}
	h3{
		font-size: 20px;
	}
	nav .subright{
		display: none;
	}

	.signup-page {
		width: 100%;
	}

	.main-logo img {
		width: 100px;
	}

	input[type=submit] {
		width: 90%;
	}
	.footer-botom{
		grid-template-columns: 100%;
		grid-template-areas:
				'kiri'
				'tengah'
				'kanan';
		justify-items: center;
	}
	.foot{
		margin: 10px;
	}
	.foot-right{
		justify-self: center;
	}
	.spacer{
		padding: 50px 0;
	}
}