.slidder-inner {
	width: 500px;
	min-height: 500px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slidder-inner.homepage {
	width: 100%;
}

.slidder-inner img {
	display: none;
}

.slidder-inner img.active {
	display: inline-block;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid white;
	transition: all 0.1s ease;
	opacity: 0.5;
}

.prev:hover,
.next:hover {
	opacity: 1;
}

.prev:active,
.next:active {
	background-color: #00ABB3;
}

.prev{
	left: 75px;
}

.next {
	right: 75px;
}
i.prev,
i.next {
	color: #fff;
	font-size: 20px;
	display: none;
}
.slider-outer{
	display: flex;
	align-items: center;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	from {
		opacity: 0.4
	}

	to {
		opacity: 1
	}
}

@media (max-width: 940px) {
	.slidder-inner {
			display: flex;
			justify-content: center;
			width: 100%;
			min-height: 650px;
		}
	.slider-outer{
		width: 100%;
	}
		.prev {
			left: 0;
		}
	
		.next {
			right: 0;
		}
		.prev.homepage {
			margin: 0 0 0 10px;
		}
	
		.next.homepage {
			margin: 0 10px 0 0;
		}
}
