@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=IBM+Plex+Mono&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFF8E5;
}

body {
    padding: 0;
    margin: 0;
    font-family: Comfortaa, sans-serif;
    background-color: #297F87;
}
/*Navigasi*/
/*Navigasi*/
nav {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
    position: fixed;
    background-color: #297F87;
    align-items: center;
    z-index: 99;
}

h1,h2,h3,h4 {
    font-family: Comfortaa, sans-serif;
}

nav .navsub {
    padding: 14px;
}

nav .navsub img {
    width: 40px;
}

nav .navsub ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

nav .navsub ul li a:hover {
    border: 1px solid white;
    border-radius: 5px;

}

nav .subright ul {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 73px;
}

nav .subright ul li {
    list-style-type: none;
}

.logo-center {
    margin-left: 100px;
    font-size: 20px;
    font-weight: 900;
}

.logo-center a {
    display: block;
    font-family: Comfortaa, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    text-align: center;
}
.fav {
    width: 150px;
    overflow: hidden;
}
.ham {
    float: right;
    position: relative;
    bottom: 30px;
    display: none;
}

.ham i {
    font-size: 30px;
    cursor: pointer;
}
/* Search Bar */
.searchBar input {
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 210px;
    background-color: #EDEDED;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    font-family: Comfortaa, sans-serif;
    color: #000000;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

}

#search:focus {
    background-color: #FEDB39;
}

.searchBar button {
    background-color: transparent;
    border: none;
    margin-left: -40px;
    padding: 0;
}

.searchBar i {
    color: #2C3333;
    font-size: 20px;
    transition: all 0.3s ease;
}

.searchBar i:hover {
    cursor: pointer;
}

/* akhir search bar */

span {
    color: red;
}
/* navigasi */
.spacer{
    padding: 40px 0;
}
.wrapper-pembelian {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.pembelian-detail {
    width: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    min-height: 510px;
}

.info-rekening{
    margin: 0 auto;
    display: flex;
    width: 90%;
    /* min-height: 500px; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}
.info-rekening p{
    margin: 9px 0;
}
.detail-rekening{
    /* border: 1px solid black; */
    width: 300px;
}
.rekening{
    margin:20px 0;
}
.instruksi-pembayaran{
    width: 300px;
    margin: 20px 10px;
    /* border: 1px solid black; */
}

p.red{
    /* background-color: red; */
    font-weight: bold;
    background-color: #2B3A55;
    padding: 5px;
}

.invoice{
    margin: 20px 0;
    width: 100%;
    /* border: 1px solid red; */
}
.invoice h2{
    /* color: blue; */
    width: 250px;
    font-weight: 900;
    background-color: #2B3A55;
    padding: 5px;
}
.invoice-desc{
    margin: 10px;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
}

.li-desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.li-desc p{
    margin-top: 5px;
}
.file-upload{
    width: 100%;
    margin-top: 5px;
    /* border: 1px solid black; */
}
.btn-submit{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}


button.submit{
    font-family: Comfortaa, sans-serif;
        width: 30%;
        height: 35px;
        border-radius: 5px;
        border: 1px solid black;
        transition: all 0.3s ease 0s;
        color: black;
        background-color: aliceblue;
        font-weight: bold;
        box-shadow: 4px 4px 0px 0px #000000;
        cursor: pointer;
        margin: 0 5px;
}
button.submit:hover{
    box-shadow: 0px 0px 0px 0px #000000;
    cursor: pointer;
}

@media (max-width: 920px) {
    .invoice{
        text-align: center;
        /* display: flex; */
        /* justify-content: center; */
        margin:20px auto;
    }
    .pembelian-detail{
        width: 95%;
    }
    .info-rekening{
        flex-wrap: wrap;
        width: 100%;
        /* border: 1px solid black; */
    }
    .instruksi-pembayaran{
    margin: 20px 0px;
    /* border: 1px solid black; */
    }
        .invoice-desc {
            width: 90%;
            display: flex;
            justify-content: center;
        }
        .li-desc{
            width: 90%;
        }
        .invoice h2{
            width: 100%;
        }
}












footer {
    margin-top: 20px;
    background-color: #297F87;
    font-size: 14px;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
.footer-botom {
    font-size: 14px;
    min-height: 50px;
    font-weight: 500;
    border-top: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    grid-template-areas:
        'kiri tengah kanan';
}

.foot-left {
    margin: 0 5px;
    grid-area: kiri;
}

.foot-center {
    grid-area: tengah;
    text-align: center;
}

.foot-center a {
    margin: 0 5px;
}

.foot-right {
    grid-area: kanan;
    margin: 0 5px;
    justify-self: end;
}
.subright.actives {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (max-width: 720px) {
    .logo-center {
        padding: 25px;
        margin: 0;
    }
    nav {
        display: block;
    }
    .ham {
        display: block;
    }
    .subright {
        display: none;
    }
    nav .subright ul {
        margin-right: 0;
        flex-direction: column;
    }
    .subright ul li {
        margin: 5px 0;
    }
    .searchBar input {
        width: 300px;
    }
    .slider-outer{
		width: 100%;
	}
    
}

@media (max-width: 1199px){
    .product-buy button, .keranjang button, .product-size select, input{
            width: 95%;
    }
}

@media (max-width: 720px) {
    nav .subright {
        display: none;
    }
    nav{
        justify-content: center;
    }
    .logo-center{
        margin: 0;
    }
    .slidder-inner img {
        width: 300px;
        margin: 0 auto;
    }
    .product-detail-img,.slidder-inner {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .slidder-inner {
        max-height: 400px;
    }
    .product-desc{
        width: 100%;
        margin: 30px;
    }
    .footer-botom{
		grid-template-columns: 100%;
		grid-template-areas:
				'kiri'
				'tengah'
				'kanan';
		justify-items: center;
	}
    .prev{
    left: 5px;
    }
    .next{
    right: 5px;
    }

	.foot{
		margin: 10px;
	}
	.foot-right{
		justify-self: center;
	}

}
@media (max-width: 720px){
    .spacer{
        padding: 50px;
    }
    .product-detail{
        flex-wrap: wrap;
    }
}
@media (max-width: 480px) {
    .prev,.next {
        position: absolute;
    }
}