@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=IBM+Plex+Mono&family=Montserrat&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background: #297F87;
	font-family: 'Montserrat', sans-serif;
}
/*Navigasi*/
/*Navigasi*/
nav{
	min-height: 56px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #297F87;
	align-items: center;
	z-index: 99;
	transition: all 0.3s ease;
}
h1,h2,h3,h4{
	font-family:Comfortaa, sans-serif;
}
nav .navsub{
	padding: 14px;
}
nav .navsub ul li a{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 12px;
	font-weight: 800;
	padding: 5px 10px;
	margin: 0 2px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
}

nav .navsub ul li a:hover{
	border: 1px solid white;
	border-radius: 5px;

}
.subright{
	z-index: 99999;
}
.subright ul{
	display: flex;
	justify-content: end;
	align-items: center;
	margin-right: 73px;
} 

nav .subright ul li{
	list-style-type: none;
	text-align: center;
}
.logo-center{
	font-size: 20px;
	font-weight: 900;
	margin-left: 100px;
}

.logo-center a{
	display: block;
	font-family:  Comfortaa, sans-serif;
	font-size: 24px;
	font-weight: 900;
	text-decoration: none;
	color: white;
	text-align: center;
}
.fav{
	width: 150px;
	overflow: hidden;
}
.ham{
	float: right;
	position: relative;
	bottom: 30px;
	display: none;
}
.ham i{
	font-size: 30px;
	color: white;
	cursor: pointer;
}
/* Search Bar */
.searchBar input {
	padding: 10px;
	border: none;
	background-color: transparent;
	outline: none;
	width: 210px;
	background-color: #EDEDED;
	border-radius: 50px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	font-family: Comfortaa, sans-serif;
	color: #000000;
}

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	
}

#search:focus {
	background-color: #FEDB39;
}

.searchBar button {
	background-color: transparent;
	border: none;
	margin-left: -40px;
	padding: 0;
}

.searchBar i {
	color: #2C3333;
	font-size: 20px;
	transition: all 0.3s ease;
}

.searchBar i:hover {
	cursor: pointer;
}
/* akhir search bar */
span{
	color: red;
}
/*Headline*/
.main-headline{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:  Comfortaa, sans-serif;
	flex-wrap: wrap;
}
.shoes-img {
	order: 1;
}
.shoes-img img{
	max-width: 500px;
}
img.huge {
	width: 350px;
}
.desc{
	width: 35%;
	display: flex;
	flex-direction: column;
	margin-right: -40px;
	color: white;
}

.desc button{
	font-family:  Comfortaa, sans-serif;
	width: 120px;
	padding: 10px;
	border-radius:20px ;
	border: none;
	background-color: #000;
	color: white;
	font-weight: 800;
	margin: 10px 0;
	transition: all 0.3s ease;
}
.desc button a{
	text-decoration: none;
	color: white;
}
.desc button:hover{
	background-color: #00ABB3;
	cursor: pointer;
}

.desc p{
	margin: 10px 0;
	font-size: 16px;
}

.desc h3{
	margin: 10px 0;
	width: 65%;
	font-size: 30px;
}

.spacer{
	width: 100%;
	padding: 40px 0;
}

.headline{
	margin-top: 20px;
	padding: 25px 0;
	text-align: center;
	font-family:  Comfortaa, sans-serif;
	color: #fff;
}
/*Main---main*/
main{
	font-family: 'IBM Plex Mono', monospace;
	display: flex;
	justify-content: center;
	align-items: center;	
	max-width: 100%;
	flex-wrap: wrap;
	color: #fff;
	min-height: 70vh;

}
main a{
	text-decoration: none;
	color: #fff;
}
section{
	width: 300px;
	height: 300px;
	border-radius:10px ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	transition: all 0.7s ease;
	border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}

section:hover{
	box-shadow:2px 2px 0px 0px #fff;
	transform: scale(0.99);
}
section .product-img{
	transition: all 0.3s ease;
}

section:hover .product-img{
	transform: scale(1.2);
}

.product-img img{
	width: 250px;
	/* height: 200px; */
	/* object-fit: contain; */
}

.caption{
	text-align: center;
}



/*Bagian footer*/
footer{
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	font-family:  Comfortaa, sans-serif;
	background-color: #297F87;
	font-size: 14px;
	color: white;
}
footer a{
	text-decoration: none;
	color: white;
}
.footer-botom{
	font-size: 14px;
	min-height: 50px;
	font-weight: 500;
	border-top:1px solid white ;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	grid-template-areas:
			'kiri tengah kanan';
}
.foot-left{
	margin:0 5px;
	grid-area: kiri;
}
.foot-center{
	grid-area: tengah;
	text-align: center;
}
.foot-center a{
	margin:0 5px;
}
.foot-right{
	grid-area: kanan;
	margin: 0 5px;
	justify-self: end;
}
.subright.actives {
	display: block;
	border-bottom:1px solid white ;
	z-index: 99;
}
.fades {
	animation-name: fade;
	animation-duration: 1s;
}

.cools{
	animation-name: slide-up;
	animation-duration: 1s;
}
@keyframes fade {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}
@keyframes slide-up {
	from {
		transform: translateX(50%);
	}

	to {
		transform: translateX(0);
	}
}
@media (max-width: 940px){
	.logo-center{
		padding: 25px;
		margin: 0;
	}
	nav{
		display: block;
	}
	.ham{
		display: block;
	}
	.subright{
		display: none;
	}
	.subright ul{
		margin-right: 0;
		flex-direction: column;
		
	}
	.subright ul li{
		margin: 5px 0;
	}
	.searchBar input{
		width: 300px;
	}
	.desc{
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-right: 0;
	text-align: center;
	order: 1;
	}
}
@media (max-width: 680px) {
	
	section{
	width: 400px;
	height: 400px;
	}
	.shoes-img img{
		width:400px ;
	}
	img.huge {
	width: 300px;
	}
	section{
		margin: 10px 0;
	}
	.footer-botom{
		grid-template-columns: 100%;
		grid-template-areas:
				'kiri'
				'tengah'
				'kanan';
		justify-items: center;
	}
	.foot{
		margin: 10px;
	}
	.foot-right{
		justify-self: center;
	}
}

@media (max-width: 480px) {
	section{
		width: 300px;
		height: 300px;
	}
	.shoes-img img{
		width:300px ;
	}
	img.huge {
	width: 200px;
	}
}