@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=IBM+Plex+Mono&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #297F87;
    
}
/*Navigasi*/
/*Navigasi*/
nav {
    min-height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #297F87;
    align-items: center;
    z-index: 1;
    transition: all 0.3s ease;
}

h1,
h2,
h3,
h4 {
    font-family: Comfortaa, sans-serif;
}

nav .navsub {
    padding: 14px;
}

nav .navsub ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

nav .navsub ul li a:hover {
    border: 1px solid white;
    border-radius: 5px;

}

.subright {
    transition: all 0.3s ease;
}

.subright ul {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 73px;
}

nav .subright ul li {
    list-style-type: none;
    text-align: center;
}

.logo-center {
    font-size: 20px;
    font-weight: 900;
    margin-left: 100px;
}

.logo-center a {
    display: block;
    font-family: Comfortaa, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    text-align: center;
}

.fav {
    width: 150px;
    overflow: hidden;
}

.ham {
    float: right;
    position: relative;
    bottom: 30px;
    display: none;
}

.ham i {
    font-size: 30px;
    cursor: pointer;
}

/* Search Bar */
.searchBar input {
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 210px;
    background-color: #EDEDED;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    font-family: Comfortaa, sans-serif;
    color: #000000;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

}

#search:focus {
    background-color: #FEDB39;
}

.searchBar button {
    background-color: transparent;
    border: none;
    margin-left: -40px;
    padding: 0;
}

.searchBar i {
    color: #2C3333;
    font-size: 20px;
    transition: all 0.3s ease;
}

.searchBar i:hover {
    cursor: pointer;
}

/* akhir search bar */
span {
    color: red;
}
.spacer{
    width: 100%;
    padding: 50px;
}
/*Headline*/
.heading{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
.user-nav{
    margin:10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user{
    margin:10px auto;
    width: 300px;
    display: flex;
    align-items: center;
    /* background-color: rgb(238, 237, 235); */
    border-radius: 10px;
    border: 1px solid white;
    /* box-shadow: 3px 3px 0 0 white; */
}
.acc-img img{
    width: 70px;
    border-radius: 50%;
    margin: 5px;
}
.acc-info {
    font-weight: 600;
}
.container{
    min-width: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}
.account-setting{
    box-sizing: border-box;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p.acc-name{
    color: white;
}
p.acc-role{
    color: yellow;
}
form.user-setting{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
label{
    display: block;
    width: 100%;
    color: #FFFFFF;
    margin: 5px;
}
input{
    padding: 10px;
    width: 450px;
    /* border-radius: 5px; */
    border: none;
    border-bottom: 1px solid white;
    /* box-shadow: 3px 3px 0 0 black; */
    outline: none;
    background: rgba(255, 255, 255, 0.001);
}
textarea{
    padding: 5px;
    background: rgba(255, 255, 255, 0.001);
    outline: none;
    border: 1px solid white;
}

img.old-foto{
    width: 100px;
    border-radius: 50%;
} 
.file{
    border: none;
    box-shadow: none;
}
.btn-simpan{
    width: 95%;
    text-align: center;
}
.btn-simpan button{
    padding: 12px 45px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    background-color: #EEEEEE;
    box-shadow: 4px 4px 0px 0px #000000;
    transition: all 0.3s ease;
    font-family: Comfortaa, sans-serif;
}
.btn-simpan button:hover{
    box-shadow:none;
	cursor: pointer;
}
.subright.actives {
    display: block;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 940px) {
    .logo-center {
        padding: 25px;
        margin: 0;
    }

    nav {
        display: block;
    }

    .ham {
        display: block;
    }

    .subright {
        display: none;
    }

    .subright ul {
        margin-right: 0;
        flex-direction: column;

    }

    .subright ul li {
        margin: 5px 0;
    }

    .searchBar input {
        width: 300px;
    }

}
@media (max-width: 680px){
    .account-setting{
        width: 90%;
        margin: 10px;
    }
    label input{
        width: 80%;
    }
}