/*Bagian footer*/
footer {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-family: Comfortaa, sans-serif;
    background-color: #297F87;
    font-size: 14px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-botom {
    font-size: 14px;
    min-height: 50px;
    font-weight: 500;
    border-top: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    grid-template-areas:
        'kiri tengah kanan';
}

.foot-left {
    margin: 0 5px;
    grid-area: kiri;
}

.foot-center {
    grid-area: tengah;
    text-align: center;
}

.foot-center a {
    margin: 0 5px;
}

.foot-right {
    grid-area: kanan;
    margin: 0 5px;
    justify-self: end;
}
main{
    display: flex;
    justify-content: center;
    min-height: 70vh;
}
main a {
    text-decoration: none;
    color: #fff;
}

section {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: all 0.7s ease;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
}
