.wrapper-pembelian {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pembelian-detail {
    width: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    min-height: 510px;
}

.info-rekening {
    display: flex;
    width: 100%;
    /* min-height: 500px; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}

.info-rekening p {
    margin: 9px 0;
}

.detail-rekening {
    /* border: 1px solid black; */
    width: 300px;
}

.rekening {
    margin: 20px 0;
}

.instruksi-pembayaran {
    margin: 20px 10px;
    /* border: 1px solid black; */
}

p.red {
    /* background-color: red; */
    font-weight: bold;
    background-color: #2B3A55;
    color: aliceblue;
    padding: 5px;
}

.invoice {
    margin: 20px 0;
    /* border: 1px solid red; */
}

.invoice h2 {
    /* color: blue; */
    width: 250px;
    font-weight: 900;
    /* background-color: #2B3A55; */
    padding: 5px;
}

.invoice-desc {
    margin: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
}

.li-desc {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.li-desc p {
    margin-top: 5px;
}

.file-upload {
    width: 100%;
    margin-top: 5px;
    /* border: 1px solid black; */
}

.btn-submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}


button.submit {
    font-family: Comfortaa, sans-serif;
    width: 30%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s ease 0s;
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    box-shadow: 4px 4px 0px 0px #000000;
    cursor: pointer;
    margin: 0 5px;
}
img{
    width: 500px;
    margin: 0 auto;
}
select,input {
    font-family: Comfortaa, sans-serif;
    width: 55%;
    font-size: 15px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
}
.container-admin-pemesanan{
    margin: 15px;
}