*{
    box-sizing: border-box;
}
.page{
    width: 100%;
    display: flex;
    justify-content: center;
}
.page a{
    padding: 3px 12px;
    border: 1px solid black;
    margin: 0 5px;
}
button.search{
    padding: 10px;
    width: 50px;
    height: 45px;
}
#search{
    padding: 10px;
    width: 300px;
}
.aksi a{
    text-decoration: none;
    padding: 10px 10px;
    background-color: #297F87;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}