*{ 
    box-sizing: border-box;
}
.main--product{
    margin: 20px;
}
#container img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    margin: 0 auto;
}
.option{
    max-width: 200px;
}
.option a{
    margin:10px;
    display: inline-block;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.option i{
    font-size: 20px;
    color: white;
}
.option a:nth-child(1){
    background-color: green;
}
.option a:nth-child(2) {
    background-color: red;
}
#container p{
    margin: 10px;
}
* {
    box-sizing: border-box;
}

.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page a {
    padding: 3px 12px;
    border: 1px solid black;
    margin: 0 5px;
}

button.search {
    padding: 10px;
    width: 50px;
    height: 45px;
}

#search {
    padding: 10px;
    width: 300px;
}
.page{
    margin: 10px 0;
}
table{
    width: 100%;
}
td{
    text-align: center;
}
/* .t-head{
    position: sticky;
    top: 0;
} */
th{
    height: 50px;
    background: #297F87;
    color: #fff
}
.page a{
    color: black;
}