.main--tambah {
    margin: 20px;
}
.main--tambah .inpo{
    color: red;
}
input[type="text"]{
    font-family: Comfortaa, sans-serif;
        width: 50%;
        padding: 10px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid black;
        transition: all 0.3s ease 0s;
        color: black;
        background-color: aliceblue;
        /* font-weight: bold; */
        outline: none;
        font-size: 15px;
        /* box-shadow: 4px 4px 0px 0px #000000; */
}
button[type="submit"]{
    width: 50%;
}

img{
    width: 100px;
}